{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}{% trans "Log In" %}{% endblock title %}

{% block page_header %}
  <h1>{% trans "Log In" %}</h1>
{% endblock page_header %}

{% block content %}

<div class="form-page">
  <div class="container">
    <div class="row">
       <div class="col-md-4 col-md-offset-4">

        <div class="form-well">
          <form role="form" method="post" action="{% url "user_login" %}">
            {% load crispy_forms_tags %}
            {{ form|crispy }}
            {% csrf_token %}
            <p class="text-center">
              <button type="submit" class="btn btn-primary btn-lg btn-block">{% trans "Log In" %}</button>
            </p>
          </form>

          <p class="text-center reset">
            <a href="{% url 'forgot_password' %}">{% trans "Forgot your password?" %}</a>
          </p>

          <p class="text-center reset">
            {% trans "Don't have an account?" %}
            <a href="{% url 'signup' %}">{% trans "Sign up here" %}</a>.
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock content %}
